<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Allows to check the network state-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Allows access to the internet to make requests to the API using Retrofit -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- Allows running a foreground service to run the pomodoro timer and service -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- Allows posting notifications to show the remaining time of the timer in the notifications -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <!-- Allows vibrating the device to provide haptic feedback to the user -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/lc_igi_digidoro"
        android:label="@string/app_name"
        android:roundIcon="@drawable/lc_igi_digidoro"
        android:supportsRtl="true"
        android:theme="@style/Theme.Digidoro"
        tools:targetApi="31">
        <service
            android:name=".service.TimerService"
            android:enabled="true"
            android:exported="false"
            />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Digidoro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>